
<style>
    .text-danger {
        color:red;  
    }
</style>
<div ng-controller="contactController">

    <div class="row">

        <div class="col-xs-12 text-right">
            <a class="btn btn-success" ng-click="openAddContactModel()">
                <i class="fa fa-plus">&nbsp; New Contact</i>

            </a>
        </div>

        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>PhoneNumber </th>
                        <th>Email </th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contactList">
                        <td>{{contact.FirstName}}</td>
                        <td>{{contact.LastName}}</td>
                        <td>{{contact.PhoneNumber}}</td>
                        <td>{{contact.Email}}</td>
                        <td>
                            <a class="btn btn-primary btn-small" ng-click="openEditContactModel(contact.Id)"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger btn-small" ng-click="deleteContact(contact.Id)"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div id="newContact" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Contact Information</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="contactForm">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input type="text" ng-model="selectedContact.FirstName" ng-pattern="/^[a-zA-Z]*$/" required class="form-control" id="firstName" name="firstName">
                            <span class="text-danger" ng-if="!contactForm.firstName.$valid">Please enter valid firstname</span>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" ng-model="selectedContact.LastName" ng-pattern="/^[a-zA-Z]*$/" required name="lastName" class="form-control" id="lastName">
                            <span class="text-danger" ng-if="!contactForm.lastName.$valid">Please enter valid Lastname</span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" ng-model="selectedContact.Email" name="email" required class="form-control" id="email">
                            <span class="text-danger" ng-if="!contactForm.email.$valid">Please enter valid Email</span>
                        </div>

                        <div class="form-group">
                            <label for="phoneNumber">Phone Number:</label>
                            <input type="text" ng-model="selectedContact.PhoneNumber" ng-minlength="10" maxlength="10" required name="phoneNumber" ng-pattern="/^[0-9]*$/" class="form-control" id="phoneNumber">
                            <span class="text-danger" ng-if="!contactForm.phoneNumber.$valid">Phone no. must be numeric and 10 digit long</span>
                        </div>
                        <br />
                        <a ng-if="selectedContact.Id" ng-disabled="contactForm.$invalid" class="btn btn-primary" ng-click="saveContact()">Update</a>
                        <a ng-if="!selectedContact.Id"  ng-disabled="contactForm.$invalid" class="btn btn-primary"  ng-click="saveContact()">Save</a>

                        <a class="btn btn-danger" data-dismiss="modal" ng-click="">Cancel</a>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>